<h1>All articles</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Comment</th>
    <th>Today Point</th>
    <th>Total Point</th>
    <th>url</th>
    <th>visible</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.comment %></td>
    <td><%= article.today_point %></td>
    <td><%= article.total_point %></td>
    <td><%= link_to article.title, article.url %></td>
    <td><%= article.visible %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Add comment', new_article_comment_path(:article_id => article.id) %></td>
  </tr>
<% end %>
</table>

<br />
