<div class="jumbotron">
  <h1>Football Life</h1>
  <p class="lead">このサイトはサッカー動画のリンク集です。海外日本人情報を中心に収集します。</p>
</div>

  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-sm-6">
      <h2><%= article.title %></h2>
      <p><%= article.comment %></p>
      <p><%= link_to 'View'+ ' ( ' + article.total_point.to_s + ' pt )', { :controller => 'articles', :action => 'good', :id => article.id }, { :class => 'btn btn-primary' } %></p>
    </div>
    <div class="col-sm-6">
      <% if article.article_comments.size > 0 %>
      <h2>ハイライト</h2>
      <table class="table">
        <thead>
          <tr>
            <th>時間</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <% article.article_comments.each do |comment| %>
            <tr>
              <td><%= comment.formated_elapsed_time %></td>
              <td><%= comment.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <% end %>

