<h1>Index#index</h1>

<% @players.each do |player| %>
<%= render :partial => 'form', :locals => { :player => player } %>
<% end %>

<br />

<table>
<% @players.each do |player| %>
  <tr>
    <td><%= player.round_id %></td>
    <td><%= player.name %></td>
    <td><%= player.point %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
